<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      	<% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message, :placeholder => 'Add a comment' %>
    <%= f.hidden_field :link_id, :value => @link.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <h2>Comments</h2>
  <div>
  <% @link.comments.each do |comment| %>
    <p><%= comment.message %></p>
    <% end %>
<% end %>